.ul-con {
  display: flex;
  flex-wrap: wrap;
}
.pop {
  font-family: 'Lobster';
  text-align: center;
}
.load {
  text-align: center;
}

@media screen and (max-width: 700px) {
  .ul {
    display: flex;
    overflow: scroll;
  }
}

.ul {
  display: flex;
}
